body,
div,
ul,
li,
p,
span {
    padding: 0;
    border: 0;
    margin: 0;
}

span {
    line-height: 1;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: "Microsoft YaHei";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height: 1%;
}

.flex-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
}

.flex-item {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    width: 20%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
}

.top-tab {
    width: 100%;
}

.top-tab li {
    text-align: center;
    font-size: 0.7rem;
    background-color: #f4f4f4;
    height: 1.8rem;
    line-height: 1.8rem;
}

.top-tab .active {
    background-color: #ffffff;
}

.head {
    width: 100%;
}

.photo-box {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.photo-img {
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 0.8rem;
}

.photo-box span {}

.head p {
    line-height: 1.5;
    width: 90%;
    margin: 0.4rem auto;
    font-size: 0.45rem;
    color: #cecece;
}

.page {
    border-top: 0.25rem solid #f7f7f7;
}

.statistics-box {
    margin-top: 1rem;
    height: 2.725rem;
    text-align: center;
}

.statistics-box .num {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.statistics-box span {
    font-size: 0.5rem;
    color: #b5b5b5;
}

.plan {
    background-color: #6bc257;
    color: #fff;
    padding: 0.6rem 0 1rem 0;
}

.plan .title {
    width: 90%;
    margin: 0.4rem auto;
    font-size: 1rem;
}

.plan p {
    line-height: 1.5;
    width: 90%;
    margin: 0.4rem auto;
    font-size: 0.45rem;
}

.list {
    width: 100%;
}

.list li {
    width: 90%;
    margin: 0 auto;
    padding-top: 0.8rem;
    border-bottom: 3px solid #f6f6f6;
}

.list .maintitle {
    font-size: 0.7rem;
}

.list .subtitle {
    margin-top: 0.3rem;
    color: #b1b1b1;
    font-size: 0.6rem;
}

.list .list-text {
    color: #bababa;
    font-size: 0.6rem;
}

.list .list-text i {
    vertical-align: -8%;
    display: inline-block;
    margin-left: 0.35rem;
    width: 0.35rem;
    height: 0.6rem;
    background-image: url("../images/icon.jpg");
    background-size: 100% 100%;
}

.list .title-box {
    position: relative;
    margin-bottom: 0.8rem;
    float: left;
}

.list .list-text {
    float: right;
}

.goAdd {
    font-size: 0.8rem;
    line-height: 2rem;
    height: 2rem;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #6cc159;
}

.agree-clause {
    height: 2.8rem;
    font-size: 0.625rem;
    padding-left: 5%;
    padding-top: 1rem;
}

.agree-clause a {
    color: #97c3f2;
}

.comment {
    padding-right: 5%;
    padding-left: 5%;
    background-color: #f7f7f7;
    font-size: 0.5rem;
    color: #717171;
}

.comment-photo {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
}

.user-say {
    float: left;
    width: 80%;
    padding-left: 5%;
}

.comment ul,
.comment li {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.technological-process {
    border-top: 0.25rem solid #f7f7f7;
}

.technological-process .content {
    position: relative;
    height: 6.7rem;
    color: #87c878;
    font-size: 0.56rem;
}

.technological-process .pa {
    position: absolute;
}

.technological-process .p3 {
    top: 0.6rem;
    left: 3.2rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p4 {
    top: 0.6rem;
    left: 6.4rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p5 {
    top: 0.6rem;
    left: 7.7rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p6 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    padding: 0.3rem 0.5rem;
    left: 9.7rem;
    top: 1.9rem;
}

.technological-process .p7 {
    top: 3rem;
    left: 8rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p8 {
    top: 3rem;
    left: 6.4rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p9 {
    top: 3rem;
    left: 3.2rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p10 {
    text-align: center;
    width: 100%;
    color: #bababa;
    bottom: 1rem;
}

.agree-clause .left-box {
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 1px solid #87c878;
    position: relative;
}

.agree-clause .active:before {
    content: "";
    display: block;
    background-color: #87c878;
    border-radius: 50%;
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    top: 0.05rem;
    left: 0.05rem;
}

.agree-clause .right-box {
    float: left;
}

.technological-process .list li {
    border: 0;
}


/**
 * 新增样式
 */

.head {
    position: relative;
    padding-top: 1.2rem;
}


/*文字滚动*/

.text-slider {
    position: absolute;
    right: 5%;
    top: 0.4rem;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
}

.text-slider ul {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.text-slider li {
    height: 30px;
}

#text-slider-box {
    overflow: hidden;
    height: 30px;
}

.go-add-disable {
    background-color: #999999;
}

.problems {
    border-top: 0.25rem solid #f7f7f7;
    padding: 0.8rem 0;
    font-size: 0.7rem;
}

.problems .title {
    padding-left: 5%;
    padding-bottom: 0.4rem;
}

.problems ul {
    width: 90%;
    margin: 0 auto;
    font-size: 0.3rem;
    line-height: 1.5;
}

.problems ul .q {
    color: #87c878;
}

.problems ul .a {
    color: #bababa;
}

.problems ul li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #bababa;
}

.problems ul li:last-child {
    border-bottom: 0px;
}

.a-fill {
    display: block;
    width: 100%;
    height: 100%;
}
.page-2{
    display: none;
}

body{
    background-color: #f7f7f7;
}
input{
    border:0;
}
.small-tip{
    margin-top: 0.68rem;
    font-size: 0.597rem;
    color:#9B9B9B;
    text-align: center;
}
.greenbutton{
    width: 92%;
    margin: 0 auto;
    margin-top:1.28rem;
    background-color: #6EC159;
    height: 1.92rem;
    font-size: 0.768rem;
    text-align: center;
    line-height: 1.92rem;
    color:#fff;
    border-radius: 0.3rem;
    display: block;
}
.form{
    font-size: 0.768rem;
    background-color: #fff;
    margin-top: 0.4rem;
}
.form-table{
    width: 100%;
}
.form-table .td1{
    width: 30%;
    height: 2rem;
    text-align: center;
}
.form-table input{
    font-size: 0.65rem;
    width: 100%;
    height: 1.8rem;
    padding-top: 0.1rem;
}
.form-table tr{
    border: 2px solid #f7f7f7
}
.check-item{
    height: 1.8rem;
    text-align: center;

}
.check-text{
    line-height: 2rem;
    height: 2rem;
    background-color: #F5A623;
    margin-left: 1rem;
    color:#fff;
}
.getCodeBtn-disable{
    background-color: #D6D6D6;
    color:#fff;
}