body,
div,
ul,
li,
p,
span {
    padding: 0;
    border: 0;
    margin: 0;
}

span {
    line-height: 1;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: "Microsoft YaHei";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height: 1%;
}

.flex-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
}

.flex-item {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    width: 20%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
}

.top-tab {
    width: 100%;
}

.top-tab li {
    text-align: center;
    font-size: 0.7rem;
    background-color: #f4f4f4;
    height: 1.8rem;
    line-height: 1.8rem;
}

.top-tab .active {
    background-color: #ffffff;
}

.head {
    width: 100%;
}

.photo-box {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1rem auto;
}

.photo-img {
    overflow: hidden;
    
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    margin-bottom: 0.8rem;
}


.head p {
    line-height: 1.5;
    width: 90%;
    margin: 0.4rem auto;
    font-size: 0.6rem;
    color: #b5b5b5;
}


.statistics-box {
    margin-top: 1rem;
    height: 2.725rem;
    text-align: center;
}

.statistics-box .num {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.statistics-box span {
    font-size: 0.5rem;
    color: #b5b5b5;
}

.plan {
    background-color: #6bc257;
    color: #fff;
    padding: 0.6rem 0 1rem 0;
}

.plan .title {
    width: 90%;
    margin: 0.4rem auto;
    font-size: 1rem;
}

.plan p {
    line-height: 1.5;
    width: 90%;
    margin: 0.4rem auto;
    font-size: 0.6rem;
}

.list {
    width: 100%;
}

.list li {
    width: 90%;
    margin: 0 auto;
    padding-top: 0.8rem;
    border-bottom: 1px solid #f6f6f6;
}

.list .maintitle {
    font-size: 0.7rem;
}

.list .subtitle {
    margin-top: 0.3rem;
    color: #b1b1b1;
    font-size: 0.6rem;
}

.list .list-text {
    color: #bababa;
    font-size: 0.6rem;
}

.list .list-text i {
    vertical-align: -8%;
    display: inline-block;
    margin-left: 0.35rem;
    width: 0.35rem;
    height: 0.6rem;
    background-image: url("../images/icon.jpg");
    background-size: 100% 100%;
}
.tip-title i{
    float: right;
    margin-top: 0.4rem;
    display: inline-block;
    margin-right: 0.3rem;
    width: 0.35rem;
    height: 0.6rem;
    background-image: url("../images/icon.jpg");
    background-size: 100% 100%;
}

.list .title-box {
    position: relative;
    margin-bottom: 0.8rem;
    float: left;
}

.list .list-text {
    float: right;
}
.main{
    background-color: #fff;
}
.goAdd {
    font-size: 0.8rem;
    line-height: 2rem;
    height: 2rem;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #6cc159;
    position: fixed;
    bottom: 0;
}

.agree-clause {
    font-size: 0.625rem;
    line-height: 2;
    padding-left: 5%;
    padding-top: 1rem;
}
.bottom-text{
    padding:0.2rem 0;
    margin-bottom:2.6rem;
    font-size: 0.6rem;
    color: #9B9B9B;
    text-align:center;
    padding:0.2rem 0;
    font-size: 0.6rem;
    color: #9B9B9B;
    text-align:center;
}

.agree-clause a {
    color: #97c3f2;
}

.comment {
    padding-right: 5%;
    padding-left: 5%;
    background-color: #f7f7f7;
    font-size: 0.6rem;
    color: #717171;
}

.comment-photo {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
}

.user-say {
    float: left;
    width: 80%;
    padding-left: 5%;
}

.comment ul,
.comment li {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.technological-process {
    border-top: 0.25rem solid #f7f7f7;
}

.technological-process .content {
    position: relative;
    height: 6.7rem;
    color: #87c878;
    font-size: 0.56rem;
}

.technological-process .pa {
    position: absolute;
}

.technological-process .p3 {
    top: 0.6rem;
    left: 1.2rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p4 {
    top: 0.6rem;
    left: 4.4rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p5 {
    top: 0.6rem;
    left: 5.6rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p6 {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    padding: 0.3rem 0.5rem;
    left: 10.7rem;
    top: 1.9rem;
}

.technological-process .p7 {
    top: 3rem;
    left: 9rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p8 {
    top: 3rem;
    left: 7.7rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p9 {
    top: 3rem;
    left: 4.4rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}

.technological-process .p10 {
    text-align: center;
    width: 100%;
    color: #bababa;
    bottom: 1rem;
}
.technological-process .p11{
    top: 0.6rem;
    left: 8.8rem;
    padding: 0.3rem 0.5rem;
}
.technological-process .p12 {
    top: 0.6rem;
    left: 10rem;
    border: 1px solid #87c878;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
}
.agree-clause .left-box {
    margin-top: 0.25rem;
    width: 0.4rem;
    height: 0.4rem;
    padding: 3px;
    float: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 1px solid #87c878;
    position: relative;
}

.agree-clause .active:before {
    content: "";
    display: block;
    background-color: #87c878;
    border-radius: 50%;
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    top: 3px;
    left: 3px;
}

.agree-clause .right-box {
    float: left;
}

.technological-process .list li {
    border: 0;
}


/**
 * 新增样式
 */

.head {
    position: relative;
    padding-top: 1.2rem;
}


/*文字滚动*/

.text-slider {
    position: absolute;
    right: 5%;
    top: 0.4rem;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
}

.text-slider ul {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.text-slider li {
    height: 30px;
}

#text-slider-box {
    overflow: hidden;
    height: 30px;
}

.go-add-disable {
    background-color: #999999;
}

.problems {
    border-top: 0.25rem solid #f7f7f7;
    padding: 0.8rem 0;
    font-size: 0.7rem;
}

.problems .title {
    padding-left: 5%;
    padding-bottom: 0.4rem;
}

.problems ul {
    width: 90%;
    margin: 0 auto;
    font-size: 0.6rem;
    line-height: 1.5;
}

.problems ul .q {
    color: #87c878;
}

.problems ul .a {
    color: #bababa;
}
.list li:last-child{
    border-bottom: 0;
}

.problems ul li {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    line-height: 2;
    border-bottom: 1px solid #f5f5f5;
}
.problems ul li:last-child{
    border-bottom: 0px;
}

.problems ul li:last-child {
    border-bottom: 0px;
}

.a-fill {
    display: block;
    width: 100%;
    height: 100%;
}
.page-2{
    display: none;
}

.page-2{
    background-color: #f7f7f7;
}
input{
    border:0;
}
.small-tip{
    margin-top: 0.68rem;
    font-size: 0.597rem;
    color:#9B9B9B;
    text-align: center;
}
.greenbutton{
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    width: 92%;
    margin: 0 auto;
    margin-top:1.28rem;
    background-color: #6EC159;
    height: 2.5rem;
    font-size: 0.768rem;
    text-align: center;
    line-height: 2.5rem;
    color:#fff;
    border-radius: 0.3rem;
    display: block;
}
.form{
    font-size: 0.768rem;
    background-color: #fff;
    margin-top: 0.4rem;
}
.form-table{
    width: 100%;
}
.form-table .td1{
    width: 30%;
    height: 2rem;
    text-align: center;
}
.form-table input{
    font-size: 0.65rem;
    width: 100%;
    height: 1.8rem;
    padding-top: 0.1rem;
}
.form-table tr{
    border: 2px solid #f7f7f7
}
.check-item{
    height: 1.8rem;
    text-align: center;

}
.check-text{
    line-height: 2rem;
    height: 2rem;
    background-color: #F5A623;
    margin-left: 1rem;
    color:#fff;
}
.getCodeBtn-disable{
    background-color: #D6D6D6;
    color:#fff;
}
.tip{
    z-index: 1000;
    width: 90%;
    display: none;
    position: fixed;
    top: 10%;
    left: 5%;
    
    border-radius:0.5rem;
    height: 80%;
    background-color: #fff;
}
.tip .tip-page{
    display: none;
}
.tip .active{
    display: block;
}
.tip-head{
    height: 0.25rem;
}
.tip-page{
    height: auto;
    overflow-y: scroll;
}
.tip-footer{
    border-radius:0 0 0.5rem 0.5rem;
    line-height: 1.87rem;
    font-size: 0.5rem;
    background-color: #f7f7f7;
    height: 1.87rem;
    position: absolute;
    width: 100%;
    bottom:0;
}
.tip-page{
   overflow-y: scroll!important;
       height: 90%;

}
.tip-0{
    margin-bottom: 2rem;
}

.tip-title{
    width: 90%;
    margin:1rem auto;
    height: 1.536rem;
    background-color: #F2F2F2;
    line-height: 1.536rem;
    font-size:0.5rem;
    text-indent: 0.3rem;
}
.tip p{
    width: 90%;
    margin:1rem auto;
    font-size:0.5rem;
    color:#4A4A4A;
    line-height: 1.5;
}
.tip em{
    font-weight: bold;
}
.tip ul{
    width: 90%;
    overflow: hidden;
    margin:1rem auto;
    font-size:0.5rem;
    color:#4A4A4A;
    line-height: 1.5;
}
.table-title{
    width: 90%;
    font-size:0.5rem;
    margin:1rem auto 0 auto;
    color:#4A4A4A;
    line-height: 1.5;
}
.tip table{
    width: 90%;
    margin:0.2rem auto;
    color:#4A4A4A;
    font-size:0.5rem;
    text-align: center;
    line-height: 1.5;
}
.tip table td{
    padding: 0.2rem;
    border: 1px solid #979797;
}
.tip table .center{
    text-align: center;
}
.tip table .left{
    text-align: left;
}
.tip .last-tip{
    margin-bottom: 4rem;
}
.mengchen{
     width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    z-index: 1000;
    display: none;
}
.ov{
    overflow:hidden;
    height: 100%;
}
.tip-close-btn{
    position: absolute;
    z-index: 1014;
    width: 2rem;
    height:2rem;
    top: -2.2rem;
    right: 0.5rem;
}
.photo-box{
    margin: 0 auto;
    width: 3.84rem;
    height: 3.84rem;
    border-radius:50%;
    overflow:hidden;
    margin-top:1.536rem;
}
.center{
    text-align: center;
}
.t16{
    font-size: 0.682rem;
}
.t20{
    font-size:0.85rem;
}
.t22{
    font-size:0.938rem;
}
.t14{
    font-size: 0.597rem;
}
.t23{
    font-size:1rem;
}
.t18{
    font-size:0.768rem;
}
.title1{
   margin-top:0.896rem;
}
.title2{
    color:#6EC159;
    line-height: 1.5;
}
.line{
    width: 90%;
    margin: 0 auto;
    height: 0.4rem;
    background: url("../images/278.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
.compare{
    width:60%;
    margin: 0.2rem auto;
}
.compare-item{
    line-height: 1.5;
    font-weight: bold;
}
.column-chart{
    color:#fff;
    width:11rem;
    margin:0 auto;
}
.page-compare{
    line-height: 1;
    background-color:#F0F0F0;
    width:100%;
}
.page-compare-title{
    padding-top:1.1rem;
    padding-bottom: 0.55rem;
    
}
.column-chart-item{
    width: 4.7rem;
}
.column-chart-item h2{
    padding-top: 0.7rem;
    padding-bottom:0.1rem;
}
.column-chart-item span{
    line-height: 1.5;
}
.hg1{
    height: 1.1rem;
}
.hg2{
    height: 2.73rem;
}
.yellow{
    background-color: #FFB96A;
}
.green{
    background-color: #6EC159;
}
.white{
    background-color: #fff;
}
.grey{
    background-color: #BEBEBE;
}
.por{
    position: relative;
}
.bt{
   position: absolute;
   bottom:0; 
}
.hg1 span{
   padding-top: 0.2rem;
}
.hg3{
    height: 4.095rem;
}
.p-warp{
    padding:0.5rem 0.5rem;
}
.p-box{
    height: 2.84rem;
    margin:0 auto;
    text-align: center;
    border:1px solid #fff;
    color:#fff;
    font-weight: bold;
    line-height: 1.5;
    padding:1rem;
}
.h-low{
    height: 1.2rem;
}
.song{
    padding-top: 1.71rem;
    padding-bottom: 3.21rem;
    text-align: center;
    background-color: #F9F5D3;
    color:#8B572A;
}
.song-acticl{
    padding-top: 0.3rem;
    text-align: right;
    text-indent: 0.5rem;
}
.p-text{
    position: relative;
}
.p-text .k{
    position: absolute;
    width: 0.64rem;
    height: 0.64rem;
}
.p-text .k1{
   border-top:1px solid #B77E21;
   border-left:1px solid #B77E21;
   top:0.5rem;
   left:0.5rem;
}
.p-text .k2{
   border-top:1px solid #B77E21;
   border-right:1px solid #B77E21;
   top:0.5rem;
   right:0.5rem;
}
.p-text .k3{
   border-bottom:1px solid #B77E21;
   border-left:1px solid #B77E21;
   bottom:0.5rem;
   left:0.5rem;
}
.p-text .k4{
   border-bottom:1px solid #B77E21;
   border-right:1px solid #B77E21;
   bottom:0.5rem;
   right:0.5rem;
}

.p-text p{
    color:#B77E21;
    width:85%;
    margin:0 auto;
    padding:1rem 0;
}
.table1{
    padding:0.5rem 0 1rem 0;
    background-color: #F9F5D3;
    position: relative;
}
.table1 table{
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
.table1 table td{
    border:1px solid #B77E21;
    color:#B77E21;    
}
.table1 h2{
     padding-bottom:0.3rem;
     color:#B77E21;
     font-size:0.85rem;
     text-align: center;
     position: relative;
}
.table1 h2:before{
    content:"";
    position: absolute;
    border-top:1px solid #B77E21;
    top:0.6rem;
    left:2rem;
    width: 4rem;
    height: 5px;
}
.table1 h2:after{
    content:"";
    position: absolute;
    border-top:1px solid #B77E21;
    top:0.6rem;
    right:2rem;
    width: 4rem;
    height: 5px;
}
.tese{
    border-top:0.25rem solid #f7f7f7;
}
.tese h2{
    padding: 0.5rem 0;
    color:#4a4a4a;
    font-size: 1rem;
}
.content-center{
    width:80%;
    margin:0 auto;
    
}  
.tese-item{
     font-size:0.85rem;
    height: 1.5rem;
    color:#4A4A4A;
}
.tese-item i{
    width: 1rem;
    display: inline-block;
    padding-right:0.5rem;
    vertical-align: middle;
}
.tese p{
    font-size: 0.682rem;
    padding-bottom: 1rem;
}
.groups{
    margin: 0 auto;
    width:70%;
}
.page-pd1{
    padding:1rem 0;
    border-bottom: 0.25rem solid #f7f7f7;
}
#warpper{
    position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 80%;
	background: #a12;
	overflow: hidden;
}
.scroller-box{
	top:0;
    left:0;
	position: fixed;
    background-color: green;
	height: 100%;
	width:100%;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 10%;
	bottom: 10%;
	left: 10%;
	width: 80%;
	background: #fff;
	overflow: hidden;
}


#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li {
	padding: 0 10px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	/*background-color: #fafafa;*/
	font-size: 14px;
}
.m-tip{

    width:inherit;
    padding-top:10%;
    padding-bottom:10%;
    
}